@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    height: 17vh;
    background-color: #2874f0;
    font-family: 'Dancing Script', cursive;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 16vw;
    height: 10vh;
    padding-right: 41.5vw;
}

nav ul{
    height: 10vh;
    display : flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20pt;
}

.marquee1{
    color: white;
}

.info{
    height: 7vh;
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
    text-align: center;
    background-color: #2874f0;
}

.container{
    min-height: 150vh;
    background-color: grey;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0.5vh 2vw;
    padding: 1.5vh 2.5vw 1.5vh 2.5vw;
    background-color: aqua;
}

p.about{
    font-size: large;
    font-family: cursive;
    color: #6b1647;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 2vw 0.5vh 2vw;
    padding: 0.75vh 2.5vw 1.5vh 2.5vw;
    background-color: aqua;
}

p.services{
    font-size: large;
    font-family: cursive;
    color: #6b1647;
}

.image{
    display: flex;
    justify-content: center;
    padding: 0.75vh 2.5vw 1.5vh 2.5vw;
}

img{
    width: 21.5vw;
    height: auto;
    margin: 0 2vw 0 2vw;
}

footer{
    height: 7vh;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}